<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545664464996-rap3mt6ji2fpkofgih5gofpkqcifd78n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545664464996-rap3mt6ji2fpkofgih5gofpkqcifd78n</string>
	<key>API_KEY</key>
	<string>AIzaSyAVMVBsWl4SEJ0Lk8638EzBwE3Kk9Usl0U</string>
	<key>GCM_SENDER_ID</key>
	<string>545664464996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adityadas.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-flutter-d0bac</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-flutter-d0bac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545664464996:ios:13944022dfbdf2cb4cc771</string>
</dict>
</plist>